#corpoPaginaContatos {
    height: 750px;
    background-color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
}

#tituloPagina {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

#formContato {
    width: 100%;
    margin: 20px 0px 30px 0px;
    display: flex;
    justify-content: center;
}

#campoEmail {
    width: 300px;
    height: 45px;
    border-radius: 20px;
    border: 0px;
    color: black;
}

#botaoSalvar {
    transition: 500ms;
    width: 80px;
    color: black;
    background-color: white;
    border-radius: 10px;
    border: 0px;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

#botaoSalvar:hover {
    transition: 500ms;
    background-color: #b9b9b9;
}

#divMensagem {
    display: flex;
    justify-content: center;
}

#mensagemSucesso h4 {
    width: 100%;
    display: flex;
    text-align: center !important;
}

.mensagemOcultada {
    transition: 200ms;
    opacity: 0;
}

.mensagemExibida {
    transition: 500ms;
    opacity: 1;
    color: lawngreen;
}

#divRedesSociais {
    width: 100%;
    text-align: center;
}

#listaRedes {
    display: flex;
    list-style: none;
    margin-top: 60px;
    padding: 0px 150px;
    justify-content: space-around;
}

.imgRedeSocial {
    width: 150px;
    height: 150px;
}

.redeSocial {
    transition: 500ms;
    opacity: 1;
}

.redeSocial:hover {
    transition: 500ms;
    opacity: 0.5;
}

.redeSocial a {
    text-decoration: none;
}