/* JOSÉ DRUMOND - RU 3820241 */
/* Alterando as propriedades dos componentes para ficar mais agradável ao usuário */
#corpoPaginaExperiencia {
    height: 1550px;
    background-color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
}

#tituloPagina,
#descricaoPagina {
    width: 100%;
    margin: 20px 0px 0px 0px;
}

#tituloPagina h1,
#descricaoPagina h2 {
    text-align: center;
    padding: 0px 100px;
}

#containerExperiencia {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imagemExperiencia {
    width: 200px;
    height: 200px;
    border-radius: 50% !important;
    display: flex;
}

.divExperiencia {
    margin: 50px 0px;
    width: 45%;
    height: 500px;
}

.escurecerDescricaoExperiencia {
    transition: opacity 400ms;
    opacity: 60%;
}

.destacarDescricaoExperiencia {
    transition: opacity 400ms;
    opacity: 100%;
}

.imagemExperiencia {
    display: flex;
    flex-direction: column;
}

.divImagemExperiencia {
    display: flex;
    justify-content: center;
}

.descricaoExperiencia h3 {
    text-align: center;
}

.listaAtribuicoes {
    padding: 0px 50px;
}

#containerCertificacoes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}

#tituloBlocoCertificacoes {
    width: 100%;
    text-align: center;
}

.certificacao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0px;
    width: 30%;
    height: 550px;
}

.descricaoCertificacao {
    padding: 0px 50px;
    height: 550px !important;
}

.tituloCertificacao h2 {
    text-align: center;
}

.listaCertificacao {
    list-style: none;
    padding: 0px;
}

#certificacaoPSPO,
#certificacaoTKP {
    margin: 10px 0px;
}

.experiencia {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}