/* JOSÉ DRUMOND - RU 3820241 */
/* Alterando as propriedades dos componentes para ficar mais agradável ao usuário */
#corpoPaginaFormacao {
    height: 650px;
    background-color: black;
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 8px;
}

#tituloPagina {
    width: 100%;
    margin: 20px 0px;

}

#tituloPagina h1 {
    text-align: center;
}

#divFormacao {
    width: 100%;
    margin-top: 40px;
}

#listaFormacoes {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    padding: 0px;
}

.formacao ul {
    padding: 0px;
}

.formacao {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.imagensFormacao {
    transition: opacity 600ms;
    opacity: 100%;
    width: 230px;
    height: 215px;
    display: flex;
    border-radius: 20px;
}

.imagensFormacao:hover {
    transition: opacity 300ms;
    opacity: 60%;
}

.formacao ul {
    list-style: none;
}

.tituloFormacao {
    text-align: center;
    text-shadow: 1px 1px 1px #b9b9b9 !important;
}

.logoFormacao {
    display: flex;
    justify-content: center;
    align-items: center;
}