#corpoPaginaIndex {
    height: 1100px;
    background-color: black;
    margin: 10px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
}

.fotoCircular {
    display: flex;
    border-radius: 50%;
    margin: 50px 40px 40px 40px;
}

#divFoto {
    display: flex;
    justify-content: center;
    float: left;
}

#divTextoSobreMim {
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    padding-top: 60px;
}

#listaAtividades {
    color: black;
    list-style: circle !important;
}

.atividade {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#listaAtividades li {
    text-shadow: 1px 1px 1px #b9b9b9 !important;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

ul p {
    text-indent: 15px;
    margin: 0px;
}

#listaAtividades li {
    margin-top: 40px;
}