#divMenu {
    height: 70px;
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#listaMenu {
    display: flex;
    float: right;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 90%;
    height: 100%;
}

.linkMenu:hover {
    transition: color 700ms;
    color: rgb(0, 217, 255);
}

.linkMenu {
    transition: color 500ms;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#divLogo {
    width: 8%;
    display: flex;
    justify-content: center;
    float: left;
    height: 100%;
    align-items: center;
}