/* Alterando as propriedades dos componentes para ficar mais agradável ao usuário */
#divMenu {
    height: 70px;
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
}

#listaMenu {
    display: flex;
    float: right;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 90%;
    height: 100%;
}

.linkMenu:hover {
    transition: color 700ms;
    color: #b9b9b9;
}

.linkMenu {
    transition: color 500ms;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#divLogo {
    width: 8%;
    display: flex;
    justify-content: center;
    float: left;
    height: 100%;
    align-items: center;
}

#imgLogo {
    border-radius: 8px;
}

footer {
    height: 70px;
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    color: white;
    justify-content: center;
}

footer div {
    display: flex;
    text-align: center;
    animation: alterarCorTexto 5s infinite;
}

@keyframes alterarCorTexto {
    0% {
        color: white;
    }

    50% {
        color: #b9b9b9;
    }

    100% {
        color: white;
    }
}